@import 'node_modules/bootstrap/scss/bootstrap.scss';
.screen {
  width: 100%;
  height: 100vh;
  background-image: url(/src/assets/images/shopping/bg_2.jpg);
}

.form {
  width: 50%;
  background-color: white;
  margin-left: 25%;
  margin-top: 10%;
  border: 3px solid #82ae46;
  border-radius: 10px;
  padding: 0 20px;

  h1 {
    text-align: center;
    color: #82ae46;
    font-size: 40px;
    margin-top: 20px;
  }

  p {
    color: #82ae46;
    font-size: 20px;
    margin: 0 20px;

    input {
      border: #82ae46 2px solid !important;
      border-radius: 10px;
      box-shadow: none !important;
      padding-left: 10px;

      &:focus {
        outline: none;
        text-decoration: none;
      }
    }
  }

  button {
    width: 60%;
    height: 50px;
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    align-items: center;
    margin: 20px 0 30px 20%;

    &:hover {
      cursor: pointer;
      background-color: #82ae46;
    }
  }
}

.type {
  display: flex;

  p:nth-child(1) {
    margin-right: 20px;
    color: black;
  }

  p:nth-child(2) {
    margin: 0;
    text-decoration: underline;
    color: gray;

    &:hover {
      cursor: pointer;
      color: #82ae46;
    }
  }
}
