/* Add styles to format your images */
.card {
  border: 3px solid #ee9d9d;
  width: 100%;
  height: 100%;
}

#image {
  border: #ee9d9d 4px solid;
  background-color: #7e405f;
  border-radius: 1rem;
  width: 150px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
}

#image :hover {
  cursor: pointer;
  background-color: #ee9d9d;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
