/* Add styles to format your images */

.screen {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #7e405f;
}

#image {
  border: #ee9d9d 4px solid;

  border-radius: 1rem;
  width: 150px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
}

#image :hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: aqua;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: #000;
}

div {
  justify-content: center;
  text-align: center;
}
